gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# play store key
fastlane/fastlane_key.json

# fastlane specific
**/fastlane/report.xml
fastlane/.env
fastlane/.env.*

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output